{% extends 'base.html' %}
{% block content %}
<h1>О нас</h1>
<p>Добро пожаловать на наш сайт! Мы - команда энтузиастов, стремящихся предоставить вам лучший опыт в использовании нашего продукта. Наша миссия - сделать вашу жизнь проще и удобнее с помощью наших инновационных решений.</p>
<p>Мы верим в качество и надежность, и поэтому постоянно работаем над улучшением наших услуг. Наша команда состоит из профессионалов, которые готовы помочь вам в любое время.</p>
<h2>Контактные данные</h2>
<p>Если у вас есть вопросы или предложения, пожалуйста, свяжитесь с нами:</p>
<ul>
    <li>Электронная почта: pk@imsit.ru</li>
    <li>Телефон: +7 (861) 278-22-83</li>
    <li>Адрес: Краснодар, ул. Зиповская, д. 5</li>
</ul>
{% endblock %}